html{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.app{
    display: flex;
}
.textarea{
    flex: 1;
    background-color: white;
    height: 100vw;
    width: 100vh;
}
.preview{
    flex: 1;
    background-color: whitesmoke;
}